extends ../layouts/main.pug
block content
  .container
    header
      label Title:
      h1= book.title
      label Author:
      h3= book.author
      label Publisher:
      h3= book.publisher
      label Genre:
      h3= book.genre.toLowerCase()
